@import "tailwindcss";

@font-face {
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/MartianMono.ttf") format("truetype");
}

body {
  font-family: "Martian Mono", Arial, Helvetica, sans-serif;
  background-color: white;
}
