@import "tailwindcss";

@font-face {
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/MartianMono.ttf") format("truetype");
}

@theme {
  --color-dark: #231f20;
  --color-red: #e63025;
  --color-yellow: #ffd800;
}

body {
  font-family: "Martian Mono", Arial, Helvetica, sans-serif;
  background-color: var(--color-dark);
}
